<main>
    <h2>Curiosity</h2>
    <article>
        <div>
            <h3>Euro Truck Simulator 2 Modder</h3>
            <p>
                I began playing ETS 2 over a decade ago, initially unable to afford the game itself.
                I started to try mods since then.
                For years, Cheat Engine worked fine for get some extra money, but one day it stopped working.
                By that time, I had already purchased the game. Determined to find an alternative route to broke the
                game economy, I conceived the Stonks mod. Presently, it have over 150,000 subscribers.
            </p>
            <div>
                <img src="https://steamuserimages-a.akamaihd.net/ugc/1005934229220091675/4DE4882DC4F62D3541920AFE468EFC0F5847E469/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"
                    alt="Mod image">
            </div>
            <p>
                The mod can be found in
                <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2059856302" target="_blank">Steam
                    Workshop</a>,
                and the source code is in
                <a href="https://github.com/senhorbento/Stonks-ETS2" target="_blank">GitHub</a>. I already done some
                other mods that can be found <a
                    href="https://steamcommunity.com/id/_senhorbento/myworkshopfiles/?appid=0&sort=score&browsefilter=myfiles&view=imagewall"
                    target="_blank">here</a>.
            </p>
        </div>
    </article>
</main>