<main>
    <h2>Knowledges</h2>
    <div class="container">
        <div>
            <h3>Professional Experience Since 2022</h3>
            <div>
                <div>
                    Desktop: C# (.NET Framework 4.2+) (Windows Forms)
                </div>
                <div>
                    Web: HTML | CSS | JavaScript | TypeScript | ThreeJS | Angular | C# (.NET Core 5.0+)
                </div>
                <div>
                    Database: SQLServer | SQLite
                </div>
                <div>
                    Web Server: IIS
                </div>
                <div>
                    Version Control System: Git (Azure DevOps)
                </div>
            </div>
        </div>
        <div>
            <h3>Without Work Experience</h3>
            <div>
                <div>
                    Desktop: C | C++ | Java
                </div>
                <div>
                    Web: NodeJS | GraphQL
                </div>
                <div>
                    SQL: MySQL
                </div>
                <div>
                    NoSQL Database: MongoDB
                </div>
                <div>
                    Embedded systems: Arduino | Raspberry
                </div>
                <div>
                    Version Control System: Git (GitHub)
                </div>
                <div>
                    Languages: Español (Basic) | English (Advanced) | Português (Native)
                </div>
            </div>
        </div>
    </div>
</main>