body{
    background: rgb(20, 20, 20);
    max-width: 800px;
    margin: auto;
}

p{
    margin: 0;
}

#title{
    color: rgb(255, 255, 255);
    font-family: "Sans-serif";
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.post_title{
    color: rgb(245, 245, 245);
    font-family: "Times New Roman";
    font-size: 18px;
    font-style: normal;
    margin: 0;
    margin-bottom: 10px;
}

.post_content{
    color: rgb(245, 245, 245);
    font-family: "Sans-serif";
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.post_content_description{
    color: rgb(245, 245, 245);
    font-family: "Sans-serif";
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.post_link{
    color: rgb(226, 226, 226);
    font-family: "Sans-serif";
    font-size: 16px;
    margin: 0;
    margin-left: 0px;
    margin-bottom: 5px;
}

.link_img{
    width: 5%;
    margin: 0;
    margin-left: 5px;
    border-radius: 50%;
}

.link_img_git{
    background-color: rgb(80, 160, 30);
    width: 5%;
    margin: 0;
    margin-left: 5px;
    border-radius: 50%;
}

.post{
    background: rgb(66, 64, 64);
    padding: 10px;
    /*px px = sup e inf, esq e dir
      px px px px = sup, dir, inf, esq*/
    border: 2px solid rgb(80, 160, 30);
    /*solid, dotted, dashed
      border-(top) (right) (bottom) (left)*/
    border-radius: 10px;
    margin: 10px;
}

.citacao{
    color: rgb(255, 255, 255);
    font-family: "Times New Roman";
    font-size: 14px;
    font-style: italic;
}