body{
    background: rgb(20,20,20);
}

p{
    margin: 0;
}

.post_title{
    color: #f6f1d1;
    font-family: "Times New Roman";
    font-size: 20px;
    font-style: normal;
    margin: 0;
    margin-bottom: 10px;
}

.post_subtitle{
    color: #f6f1d1;
    font-family: "Times New Roman";
    font-size: 18px;
    font-style: bold;
    margin: 0;
    margin-bottom: 10px;
}

.post_content{
    color: #f6f1d1;
    font-family: "Sans-serif";
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.post_content_description{
    color: #f6f1d1;
    font-family: "Sans-serif";
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.post_link{
    color: #ffd386;
    font-family: "Sans-serif";
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.langs_img{
    width: auto;
    min-width: 30px;
    max-width: 70px;
    margin: 0;
    border-radius: 50%;
}

.link_img{
    width: auto;
    min-width: 30px;
    max-width: 70px;
    margin: 0;
    margin-left: 5px;
    border-radius: 50%;
}

.conteiner{
    background-color: rgb(20,20,20);
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 10px;
}

.avatar{
    min-width: 70px;
    max-width: 100px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    left: 5%;
}

.title{
    color: #f6f1d1;
    font-family: "Sans-serif";
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 45px;
    position: relative;
}

.boxApresentacao{
    max-width: 90%;
    background: #393e83;
    border: 2px solid #8FB9AA;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    left: 5%;
}

.boxProjetos{
    max-width: 90%;
    background: #393e83;
    border: 2px solid #8FB9AA;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    left: 5%;
}

.boxRodape{
    align-items: baseline;
    position: relative;
}

.citacao{
    color: rgb(255, 255, 255);
    font-family: "Times New Roman";
    font-size: 18px;
    font-style: italic;
    margin-right: 15px;
    margin-bottom: 2%;
}

.creditos{
    max-width: 90%;
    position: relative;
    color: #ffd386;
    font-family: "Sans-serif";
    font-size: 16px;
    margin: 0;
    margin-left: 0px;
    margin-bottom: 5px; 
    left: 5%;
}