<main>
    <h2>Find Me Here</h2>
    <footer>
        <div>
            <mat-icon color="warn">email</mat-icon>
            <a href="mailto:{{Constants._EMAIL_}}" target="_blank">{{Constants._EMAIL_}}</a>
        </div>
        <div>
            <mat-icon color="warn">link</mat-icon>
            <a href="{{Constants._URL_LINKEDIN_}}" target="_blank">Linkedin</a>
        </div>
        <div>
            <mat-icon color="warn">link</mat-icon>
            <a href="{{Constants._URL_SPOTIFY_}}" target="_blank">Spotify</a>
        </div>
        <div>
            <mat-icon color="warn">link</mat-icon>
            <a href="{{Constants._URL_GITHUB_}}" target="_blank">Github</a>
        </div>
        <div>
            <mat-icon color="warn">link</mat-icon>
            <a href="{{Constants._URL_STEAM_}}" target="_blank">Steam</a>
        </div>
    </footer>
</main>