<main>
    <h2>Find Me</h2>
    <div class="container">
        <div>
            <a href="mailto:{{Constants._EMAIL_}}" target="_blank">{{Constants._EMAIL_}}</a>
            <a href="{{Constants._URL_LINKEDIN_}}" target="_blank">Linkedin</a>
            <a href="{{Constants._URL_GITHUB_}}" target="_blank">Github</a>
            <a href="{{Constants._URL_SPOTIFY_}}" target="_blank">Spotify</a>
            <a href="{{Constants._URL_STEAM_}}" target="_blank">Steam</a>
        </div>
    </div>
</main>