@import '../style.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    width: 100%;

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}