<main>
    <h2>Find Me Here</h2>
    <article>
        <table>
            <tr>
                <td><mat-icon color="warn">email</mat-icon></td>
                <td><a href="mailto:{{Constants._EMAIL_}}" target="_blank">{{Constants._EMAIL_}}</a></td>
            </tr>
            <tr>
                <td><mat-icon color="warn">link</mat-icon></td>
                <td><a href="{{Constants._URL_LINKEDIN_}}" target="_blank">Linkedin</a></td>
            </tr>
            <tr>
                <td><mat-icon color="warn">link</mat-icon></td>
                <td><a href="{{Constants._URL_SPOTIFY_}}" target="_blank">Spotify</a></td>
            </tr>
            <tr>
                <td><mat-icon color="warn">link</mat-icon></td>
                <td><a href="{{Constants._URL_GITHUB_}}" target="_blank">Github</a></td>
            </tr>
            <tr>
                <td><mat-icon color="warn">link</mat-icon></td>
                <td><a href="{{Constants._URL_STEAM_}}" target="_blank">Steam</a></td>
            </tr>
        </table>
    </article>
</main>