<main>
    <h2>Knowledges</h2>
    <article>
        <div>
            <h3>Professional Experience Since 2022</h3>
            <div>
                <p>Desktop: C# (.NET Framework 4.2+) (Windows Forms)</p>
                <p>Web: HTML | CSS | JavaScript | TypeScript | ThreeJS | Angular | C# (.NET Core 5.0+)</p>
                <p>Database: SQLServer | SQLite</p>
                <p>Web Server: IIS</p>
                <p>Version Control System: Git (Azure DevOps)</p>
            </div>
        </div>
        <div>
            <h3>Without Work Experience</h3>
            <div>
                <p>Desktop: C | C++ | Java</p>
                <p>Web: NodeJS | GraphQL</p>
                <p>SQL: MySQL</p>
                <p>NoSQL Database: MongoDB</p>
                <p>Embedded systems: Arduino | Raspberry</p>
                <p>Version Control System: Git (GitHub)</p>
                <p>Languages: Español (Basic) | English (Advanced) | Português (Native)</p>
            </div>
        </div>
    </article>
</main>