body {
    margin: 0;
}

.container-header {
    background-color: #222291;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-footer {
    background-color: #222291;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.text-header {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f6f1d1;
    font-family: sans-serif;
    font-size: 2rem;
}

.logo-header {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 7rem;
    max-height: 7rem;
}

.block-button {
    background-color: #d9d8e1;
    transition-duration: 0.4s;
    margin-bottom: 1vh;
    margin-top: 1vh;
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 1vh;
    font-family: sans-serif;
    color: #000000;
    font-size: 1.5rem;
}

.block-button:hover {
    background-color: #d49029;
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.text-footer {
    vertical-align: baseline;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f6f1d1;
    font-family: sans-serif;
    font-size: 1rem;
}
