article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;

    @media (max-width: 768px) {
        height: auto;
        width: auto;
    }
}