<main>
    <h2>By Me</h2>
    <article>
        <div>
            <h3>Dev.to</h3>
            <div>
                <p>
                    Basic commands MongoDB (
                    <a href="https://dev.to/_misterbento/basic-commands-mongodb-57pe" target="_blank">EN</a>,
                    <a href="https://dev.to/_misterbento/comandos-basicos-mongodb-2o8o" target="_blank">PT</a> )
                </p>
                <small>A quick article about MongoDB basics</small>
                <p>
                    Github Tips (
                    <a href="https://dev.to/_misterbento/github-tip-1-en-1moe" target="_blank">EN</a>,
                    <a href="https://dev.to/_misterbento/github-tip-1-43ke" target="_blank">PT</a> )
                </p>
                <small>Some tips to GitHub beginners</small>
                <p>
                    Markdown Tip
                    <a href="https://dev.to/_misterbento/markdown-tip-1-31kb" target="_blank">PT</a>
                </p>
                <small>A usefull tip when using markdown</small>
            </div>
        </div>
        <div>
            <h3>GitHub</h3>
            <div>
                <p>
                    <a href="https://github.com/senhorbento/Arduino4noobs" target="_blank">Arduino4noobs</a>
                </p>
                <small>Basics of Arduino to Beginners</small>
                <p>
                    <a href="https://github.com/senhorbento/Avaliacoes_TI" target="_blank">Avaliações TI</a>
                </p>
                <small>Tasks done during my first graduation</small>
                <p>
                    <a href="https://github.com/senhorbento/Beecrowd_Solutions" target="_blank">Beecrowd
                        Solutions</a>
                </p>
                <small>Some Beecrowd Solutions In diferent languages</small>
                <p>
                    <a href="https://senhorbento.github.io/MySQL2CsharpJS/" target="_blank">MySQL2CsharpJS</a>
                </p>
                <small>My Final Exam of my first graduation</small>
            </div>
        </div>
    </article>
</main>