<main>
    <h2>By Me</h2>
    <article>
        <div>
            <h3>Dev.to</h3>
            <div>
                <p>
                    Basic commands MongoDB (
                    <a href="{{Constants._URL_DEV_MONGO_EN_}}" target="_blank">EN</a>,
                    <a href="{{Constants._URL_DEV_MONGO_PT_}}" target="_blank">PT</a> )
                </p>
                <small>A quick article about MongoDB basics</small>
                <p>
                    Github Tips (
                    <a href="{{Constants._URL_DEV_GH_EN_}}" target="_blank">EN</a>,
                    <a href="{{Constants._URL_DEV_GH_PT_}}" target="_blank">PT</a> )
                </p>
                <small>Some tips to GitHub beginners</small>
                <p>
                    Markdown Tip
                    <a href="{{Constants._URL_DEV_MD_PT_}}" target="_blank">PT</a>
                </p>
                <small>A usefull tip when using markdown</small>
            </div>
        </div>
        <div>
            <h3>GitHub</h3>
            <div>
                <p>
                    <a href="{{Constants._URL_GH_ARDUINO_}}" target="_blank">Arduino4noobs</a>
                </p>
                <small>Basics of Arduino to Beginners</small>
                <p>
                    <a href="{{Constants._URL_GH_TI_}}" target="_blank">Avaliações TI</a>
                </p>
                <small>Tasks done during my first graduation</small>
                <p>
                    <a href="{{Constants._URL_GH_BEECROWD_}}" target="_blank">Beecrowd
                        Solutions</a>
                </p>
                <small>Some Beecrowd Solutions In diferent languages</small>
                <p>
                    <a href="{{Constants._URL_TCC_}}" target="_blank">MySQL2CsharpJS</a>
                </p>
                <small>My Final Exam of my first graduation</small>
            </div>
        </div>
    </article>
</main>