<main>
    <h2>By Me</h2>
    <div class="container">
        <div>
            <h3>Dev.to</h3>
            <div>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Basic commands MongoDB
                            <a href="https://dev.to/_misterbento/basic-commands-mongodb-57pe"
                                target="_blank">US</a>
                            <a href="https://dev.to/_misterbento/comandos-basicos-mongodb-2o8o"
                                target="_blank">BR</a>
                        </span>
                        <span matListItemLine>
                            A quick article about MongoDB basics
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Github Tips
                            <a href="https://dev.to/_misterbento/github-tip-1-en-1moe"
                                target="_blank">US</a>
                            <a href="https://dev.to/_misterbento/github-tip-1-43ke"
                                target="_blank">BR</a>
                        </span>
                        <span>
                            Some tips to GitHub beginners
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            Markdown Tip
                            <a href="https://dev.to/_misterbento/markdown-tip-1-31kb"
                                target="_blank">BR</a>
                        </span>
                        <span>
                            A usefull tip when using markdown
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div>
            <h3>GitHub</h3>
            <div>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            <a href="https://github.com/senhorbento/Arduino4noobs"
                                target="_blank">Arduino4noobs</a>
                        </span>
                        <span matListItemLine>
                            Basics of Arduino to Beginners
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            <a href="https://github.com/senhorbento/Avaliacoes_TI"
                                target="_blank">Avaliações TI</a>
                        </span>
                        <span matListItemLine>
                            Tasks done during my first graduation
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            <a href="https://github.com/senhorbento/Beecrowd_Solutions"
                                target="_blank">Beecrowd Solutions</a>
                        </span>
                        <span matListItemLine>
                            Some Beecrowd Solutions In diferent languages
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>
                            <a href="https://senhorbento.github.io/MySQL2CsharpJS/"
                                target="_blank">MySQL2CsharpJS</a>
                        </span>
                        <span matListItemLine>
                            My Final Exam of my first graduation
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</main>