<main>
    <article>
        <div>
            <p><b>WHO AM I?</b></p>
            <h2>I'm Henrique Bento, also known as Bento.</h2>
            <div>
                <p>I'm currently pursuing my post-graduation degree in Software Engineering at PUC Rio,<br>
                    while also working as a Junior System Analyst at Alfa Laval.</p>
            </div>
        </div>
        <div>
            <img src="../../../assets/whoami.jpg" alt="Myself" class="gradient-border">
        </div>
    </article>
</main>